@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #e3af1d;
	--color-2: #fff;
	--color-3: #000;
	--color-4: #ffd979;
	--color-5: #cfb165;
}

.navIcon{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;

}
.nav{
	opacity: 80%;
}

/* main section  */
.mainBg{
	background-image: url(./assets//image/bg/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
}
.welcome{
font-weight: 700;
font-size: 64px;
color: var(--color-2);
}
.tour{
font-weight: 700;
font-size: 96px;
color: var(--color-2);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.welcome {
    font-size: 1.125rem; /* 18px */
}

.tour {
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

.view {
    padding: 0.5rem 1.5rem;
    background-color: #ffd979;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.view:hover {
    background-color: #d3ab44;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

/* Media Queries */
@media (min-width: 768px) {
    .welcome {
        font-size: 1.25rem; /* 20px */
    }

    .tour {
        font-size: 3rem; /* 48px */
    }
}

@media (min-width: 1024px) {
    .welcome {
        font-size: 1.5rem; /* 24px */
    }

    .tour {
        font-size: 4rem; /* 64px */
    }
}

/* footer section  */

.happy{
font-weight: 700;
font-size: 40px;
letter-spacing: 0.17em;
text-transform: uppercase;
color: var(--color-2);
}
.footerDami{
font-weight: 400;
font-size: 15px;
color: var(--color-2);
}

.home{
font-weight: 700;
font-size: 30px;
color: var(--color-4);
}
.linkUp{
font-weight: 400;
font-size: 22px;
color: var(--color-2);
cursor: pointer;
}
.vanLan{
font-weight: 200;
font-size: 12px;
color: var(--color-2);
}

/* rejistration  */
.RejiBg{
	background-image: url(./assets//image/bg/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
}

.ready{
font-weight: 700;
font-size: 40px;
color: var(--color-3);
}

.weNeed{
font-weight: 400;
font-size: 24px;
color: var(--color-3);
}
.inpoRe{
    border-radius: 10px;
    width: 374px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-5);
    outline: none;
}
.inpoRe::placeholder{
font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
color: var(--color-2);
/* opacity: 0.5; */
}
.next{
width: 100px;
height: 46px;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
color: var(--color-3);
border-radius: 20px;
background-color: #CFB165;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 575.98px) { 
    .inpoRe{
        width: 100%;
    }
    .modalView{
        width: auto;
    }
    .ready{
        font-weight: 500 !important;
        font-size: 30px !important;
        line-height: 30px !important;
        color: var(--color-3);
        }
}
@media (max-width: 767.98px) { 
    .ready{
        font-weight: 500 !important;
        font-size: 30px !important;
        line-height: 30px !important;
        color: var(--color-3);
        }
 }

 /* login  */
 .log{
font-weight: 700;
font-size: 24px;
color: var(--color-5);

 }
 .welcome{
font-weight: 700;
font-size: 14px;
color: var(--color-3);
 }

 .logInpo{
width: 281px;
height: 38px;
outline: none;
border-bottom: 1px solid #000;
color: #000;
 }
.logInpo::placeholder{
font-weight: 300;
font-size: 22px;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 575.98px) { 
    .logInpo{
        width: 100%;
    }  
}
@media (max-width: 991.98px) { 
    .logInpo{
        width: 100%;
    }  
}

.loginbt{
    border-radius: 14px;
padding: 11px 19px;
width: 110px;
height: 39px;
background: var(--color-5);
font-weight: 700;
font-size: 18px;
color: var(--color-2);
}

.nextMain{
    width: 100px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    /* color: var(--color-3); */
    border-radius: 20px;
    /* background-color: #CFB165; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }


    /* home section  */
    .HomeSec{
        background-image: url(./assets//image/homeImg/bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 800px;
    }

.relax{
    font-weight: 700;
    font-size: 40px;
    color: var(--color-4);
    }
 .van{
font-weight: 700;
font-size: 64px;
color: var(--color-2);
 }   

 .ReadMore{
font-weight: 700;
font-size: 20px;
color: var(--color-3);
border-radius: 14px;
padding: 8px 15px;
width: 156px;
height: 52px;
background: var(--color-5);
 }


 @media (max-width: 767.98px) { 
    .van{
        font-weight: 700;
        font-size: 50px;
        color: var(--color-2);
         }  
 }

 @media (max-width: 575.98px) { 
    .van{
        font-weight: 700;
        font-size: 35px;
        color: var(--color-2);
    } 

    .relax{
        font-weight: 700;
        font-size: 35px;
        color: var(--color-4);
        }

        .ReadMore{
            font-weight: 700;
            font-size: 18px;
            color: var(--color-3);
            border-radius: 14px;
            padding: 5px 10px;
            width: 146px;
            height: 52px;
            background: var(--color-5);
            margin-bottom: 15px;
             }

             .HomeSec{
                height: auto;
             }
  }