@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #e3af1d;
	--color-2: #fff;
	--color-3: #000;
	--color-4: #ffd979;
	--color-5: #cfb165;
}

.navIcon{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;

}
.nav{
	opacity: 80%;
}

/* main section  */
.mainBg{
	background-image: url(./assets//image/bg/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 900px !important;
}
.welcome{
font-weight: 700;
font-size: 64px;
color: var(--color-2);
}
.tour{
font-weight: 700;
font-size: 96px;
color: var(--color-2);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.welcome {
    font-size: 1.125rem; /* 18px */
}

.tour {
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

.view {
    padding: 0.5rem 1.5rem;
    background-color: #ffd979;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.view:hover {
    background-color: #d3ab44;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

/* Media Queries */
@media (min-width: 768px) {
    .welcome {
        font-size: 1.25rem; /* 20px */
    }

    .tour {
        font-size: 3rem; /* 48px */
    }
    .mainBg{
        height: auto !important;
    }
}

@media (max-width: 575.98px) { 
    .mainBg{
        height: auto !important;
    }
}

@media (min-width: 1024px) {
    .welcome {
        font-size: 1.5rem; /* 24px */
    }

    .tour {
        font-size: 4rem; /* 64px */
    }
}

/* footer section  */

.happy{
font-weight: 700;
font-size: 40px;
letter-spacing: 0.17em;
text-transform: uppercase;
color: var(--color-2);
}
.footerDami{
font-weight: 400;
font-size: 15px;
color: var(--color-2);
}

.home{
font-weight: 700;
font-size: 30px;
color: var(--color-4);
}
.linkUp{
font-weight: 400;
font-size: 22px;
color: var(--color-2);
cursor: pointer;
}
.vanLan{
font-weight: 200;
font-size: 12px;
color: var(--color-2);
}

/* rejistration  */
.RejiBg{
	background-image: url(./assets//image/bg/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
}

.ready{
font-weight: 700;
font-size: 40px;
color: var(--color-3);
}

.weNeed{
font-weight: 400;
font-size: 24px;
color: var(--color-3);
}
.inpoRe{
    border-radius: 10px;
    width: 374px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-5);
    outline: none;
}
.inpoRe::placeholder{
font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
color: var(--color-2);
/* opacity: 0.5; */
}
.next{
width: 100px;
height: 46px;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
color: var(--color-3);
border-radius: 20px;
background-color: #CFB165;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 575.98px) { 
    .inpoRe{
        width: 100%;
    }
    .modalView{
        width: auto;
    }
    .ready{
        font-weight: 500 !important;
        font-size: 30px !important;
        line-height: 30px !important;
        color: var(--color-3);
        }
}
@media (max-width: 767.98px) { 
    .ready{
        font-weight: 500 !important;
        font-size: 30px !important;
        line-height: 30px !important;
        color: var(--color-3);
        }
 }

 /* login  */
 .log{
font-weight: 700;
font-size: 24px;
color: var(--color-5);

 }
 .welcome{
font-weight: 700;
font-size: 14px;
color: var(--color-3);
 }

 .logInpo{
width: 281px;
height: 38px;
outline: none;
border-bottom: 1px solid #000;
color: #000;
 }
.logInpo::placeholder{
font-weight: 300;
font-size: 22px;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 575.98px) { 
    .logInpo{
        width: 100%;
    }  
}
@media (max-width: 991.98px) { 
    .logInpo{
        width: 100%;
    }  
}

.loginbt{
    border-radius: 14px;
padding: 11px 19px;
width: 110px;
height: 39px;
background: var(--color-5);
font-weight: 700;
font-size: 18px;
color: var(--color-2);
}

.nextMain{
    width: 100px;
    height: 46px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    /* color: var(--color-3); */
    border-radius: 20px;
    /* background-color: #CFB165; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }


    /* home section  */
    .HomeSec{
        background-image: url(./assets//image/homeImg/bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 800px;
    }

.relax{
    font-weight: 700;
    font-size: 40px;
    color: var(--color-4);
    }
 .van{
font-weight: 700;
font-size: 64px;
color: var(--color-2);
 }   

 .ReadMore{
font-weight: 700;
font-size: 20px;
color: var(--color-3);
border-radius: 14px;
padding: 8px 15px;
width: 156px;
height: 52px;
background: var(--color-5);
 }


 @media (max-width: 767.98px) { 
    .van{
        font-weight: 700;
        font-size: 50px;
        color: var(--color-2);
         }  
 }

 @media (max-width: 575.98px) { 
    .van{
        font-weight: 700;
        font-size: 35px;
        color: var(--color-2);
    } 

    .relax{
        font-weight: 700;
        font-size: 35px;
        color: var(--color-4);
        }

        .ReadMore{
            font-weight: 700;
            font-size: 18px;
            color: var(--color-3);
            border-radius: 14px;
            padding: 5px 10px;
            width: 146px;
            height: 52px;
            background: var(--color-5);
            margin-bottom: 15px;
             }

             .HomeSec{
                height: auto;
             }
  }


  .damiHome{
font-weight: 700;
font-size: 18px;
text-align: center;
color: var(--color-2);
  }


  /* HomeSearch  */

  .HomeSearch{
    background-image:url(./assets//image/homeImg/section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 800px; */
  }

  .select{
    border-radius: 14px;
    width: 174px;
    height: 65px;
font-weight: 700;
font-size: 24px;
color: rgba(255, 255, 255, 0.5);
background: var(--color-5);
outline: none;
  }


  .selectBtn{
border-radius: 14px;
width: 174px;
height: 65px;
font-weight: 700;
font-size: 24px;
color: rgba(255, 255, 255, 0.5);
background: var(--color-5);
outline: none;
  }

  .activity{
font-weight: 700;
font-size: 24px;
color: white;
  }

  .select::placeholder{
    color: white;
  } 


  @media (max-width: 767.98px) { 
    .bookinHT{
        height: auto;
      }
  }


  @media (max-width: 991.98px) { 
    .select{
    border-radius: 14px;
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    background: var(--color-5);
    outline: none;
      }
    .selectBtn{
    opacity: 0;
    visibility: hidden;
    }
  }


  @media (max-width: 767.98px) { 
    .selectBtn{
        opacity: 1;
        visibility: visible;
        width: auto;
        }
  }

  .navLi{
font-weight: 700 !important;
font-size: 40px !important;
color: var(--color-5) !important;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
  }
  .navLiAll{
font-weight: 700 !important;
font-size: 24px !important;
color: var(--color-5) !important;
text-transform: capitalize !important;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
  }


  /* Remove hover effect on nav links */
.nav-link.navLi:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: inherit !important;
  }
  
  /* Remove the horizontal line (if it's part of the default styles) */
  .nav-tabs {
    border-bottom: none !important;
  }
  
  /* If you have an explicit <hr> element, remove it */
  hr {
    display: none !important;
  }


  .MyImg{
    box-shadow: 0 24px 116px 0 rgba(43, 56, 76, 0.09);
}

.MyImg {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.MyImg:hover {
    transform: scale(1.05); /* Scale the image on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}


.MyImg {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 992px) {
    .MyImg {
      width: 50%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .MyImg {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 576px) {
    .MyImg {
      width: 100%;
      height: auto;
    }
  }

  /* about section  */
  .aboutHead{
font-weight: 700;
font-size: 48px;
color: var(--color-2);
  }

  @media (max-width: 575.98px) { 
    .aboutHead{
        font-weight: 700;
        font-size: 38px;
        color: var(--color-2);
        }
        .view {
            margin-bottom: 10px;
        }
  }

  .ourSto{
font-weight: 700;
font-size: 64px;
color: var(--color-4);
  }

  .aboutDami{
font-weight: 400;
font-size: 40px;
color: var(--color-2);
  }

  /* booking section  */

  .bookingSec{
    background-image: url(./assets//image/bookingMain/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 1200px; */
  }

  .time{
font-weight: 700;
font-size: 35px;
color: var(--color-3);
  }

.timeHead{
font-weight: 700;
font-size: 25px;
color: #696969;
  }

  .first{
font-weight: 400;
font-size: 17px;
color: var(--color-3);
  }

  .details{
font-weight: 500;
font-size: 14px;
color: #997200;
  }

  .bookingOper{
    opacity: 75%;
  }



  @media (max-width: 991.98px) { 
    .BookingRes{
      display: none;
    }
  }

  

/* boking from  */

.BookingForm{
  background-image: url(./assets//image/bookingMain/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bkFrom::placeholder{
  font-weight: 500;
  font-size: 16px;
  color:black;
}

.bkFrom{
width: 281px;
height: 37px;
outline: none;
border-bottom: 1px solid black;
}

.bkFrom::placeholder{
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .BookingForm{
    height: auto;
  }

  .FromSecBk{
    margin-bottom: 30px !important;
  }

  .bkFrom{
    width: 90%;
  }
}

  