@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #e3af1d;
	--color-2: #fff;
	--color-3: #000;
	--color-4: #ffd979;
	--color-5: #cfb165;
}

.navIcon{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;

}
.nav{
	opacity: 80%;
}

/* main section  */
.mainBg{
	background-image: url(./assets//image/bg/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
}
.welcome{
font-weight: 700;
font-size: 64px;
color: var(--color-2);
}
.tour{
font-weight: 700;
font-size: 96px;
color: var(--color-2);
}




.mainBg {
    /* Add your background styles here */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.welcome {
    font-size: 1.125rem; /* 18px */
}

.tour {
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

.view {
    padding: 0.5rem 1.5rem;
    background-color: #ffd979;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.view:hover {
    background-color: #d3ab44;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

/* Media Queries */
@media (min-width: 768px) {
    .welcome {
        font-size: 1.25rem; /* 20px */
    }

    .tour {
        font-size: 3rem; /* 48px */
    }
}

@media (min-width: 1024px) {
    .welcome {
        font-size: 1.5rem; /* 24px */
    }

    .tour {
        font-size: 4rem; /* 64px */
    }
}

/* footer section  */

.happy{
font-weight: 700;
font-size: 40px;
letter-spacing: 0.17em;
text-transform: uppercase;
color: var(--color-2);
}
.footerDami{
font-weight: 400;
font-size: 15px;
color: var(--color-2);
}

.home{
font-weight: 700;
font-size: 30px;
color: var(--color-4);
}
.linkUp{
font-weight: 400;
font-size: 22px;
color: var(--color-2);
cursor: pointer;
}
.vanLan{
font-weight: 200;
font-size: 12px;
color: var(--color-2);
}

/* rejistration  */
.RejiBg{
	background-image: url(./assets//image/bg/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
}

.ready{
font-weight: 700;
font-size: 40px;
color: var(--color-3);
}

.weNeed{
font-weight: 400;
font-size: 24px;
color: var(--color-3);
}
